<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear1.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1748},{932,580}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{932,580}}</string>
                <key>sourceSize</key>
                <string>{932,580}</string>
            </dict>
            <key>bear2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1748},{932,580}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{932,580}}</string>
                <key>sourceSize</key>
                <string>{932,580}</string>
            </dict>
            <key>bear3.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1166},{932,580}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{932,580}}</string>
                <key>sourceSize</key>
                <string>{932,580}</string>
            </dict>
            <key>bear4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1166},{932,580}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{932,580}}</string>
                <key>sourceSize</key>
                <string>{932,580}</string>
            </dict>
            <key>bear5.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,584},{932,580}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{932,580}}</string>
                <key>sourceSize</key>
                <string>{932,580}</string>
            </dict>
            <key>bear6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{932,580}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{932,580}}</string>
                <key>sourceSize</key>
                <string>{932,580}</string>
            </dict>
            <key>bear7.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{932,580}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{932,580}}</string>
                <key>sourceSize</key>
                <string>{932,580}</string>
            </dict>
            <key>bear8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{932,580}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{932,580}}</string>
                <key>sourceSize</key>
                <string>{932,580}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimBear-ipadhd.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7c230adc881585cd348e71d89eeaddb$</string>
            <key>textureFileName</key>
            <string>AnimBear-ipadhd.png</string>
        </dict>
    </dict>
</plist>
